body  {
   background-color: blue;
   margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
  margin-left: 80px;
}

h1 {
    margin: 300px auto;
    text-align: center;
    color: white;
    font-size: 8em;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                 0 3px 0 #ccc, 0 4px 0 #ccc,
                 0 5px 0 #ccc, 0 6px 0 #ccc,
                 0 7px 0 #ccc, 0 8px 0 #ccc,
                 0 9px 0 #ccc, 0 10px 0 #ccc,
                 0 11px 0 #ccc, 0 12px 0 #ccc,
                 0 20px 30px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  color: black;
  font-size: 6em;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
               0 3px 0 #ccc, 0 4px 0 #ccc,
               0 5px 0 #ccc, 0 6px 0 #ccc,
               0 7px 0 #ccc, 0 8px 0 #ccc,
               0 9px 0 #ccc, 0 10px 0 #ccc,
               0 11px 0 #ccc, 0 12px 0 #ccc,
               0 20px 30px rgba(0, 0, 0, 0.5);
}
 
h3 {   
   background-color: red;
   text-color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   margin-top: 4em;
}

 
p {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.5em;
   margin-bottom: 2em;
 }